body{
    padding: 0px;
    margin: 0px;

}
/* navbar properties */
nav{
    max-width: 100%;
}
nav ul{
    background-color: black;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: start !important;
    align-items: center !important;
    margin: 0px !important;
    padding: 15px !important;
    font-size: 15px !important;
}

.logo{
    width: 110px !important;
    height: 40px !important;
}

nav ul li{
    list-style: none !important;
}

.navlist{
   display: block;
    padding-left:25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navlist >a:hover{
    color: rgb(41, 151, 255) !important;
    transition: 200ms ease-in;
}

nav ul li a{
    color: white !important;
    text-decoration: none !important;
    letter-spacing: 1px !important;
}

#searchli{
    margin-left: auto;
}

#searchinput:hover{
    background-color: white;
    color: red;
}

nav ul li input{
    font-size: 15px !important;
    border-radius: 10px !important;
    padding: 5px !important;
    margin: 0 !important;
}

nav ul li button{
    padding: 5px;
    border-radius: 10px;
    margin: 0;
    background-color: red;
    color: white;
}

.toggle{
    display: none;
}

/* title Css*/
.cust_container{
    margin:0;
}
.title{
    background-color: black;
    z-index: -1;
    max-width: 100%;
    max-height: 10%;
}
.title img{
    width: 100%;
    height: 10%;
    opacity: 60%;
}
.title h1{
    position: absolute;
    top: 5em;
    width: 100%;
    text-align: center;
    font-size: 50px;
    letter-spacing: 1px;
    text-shadow: 20px black;
    color: whitesmoke;
    font-family: 'Exo', sans-serif;
}
.title p{
    position: absolute;
    top: 19em;
    width: 100%;
    text-align: center;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 25px;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
}


.lineUp {
    animation: 2s anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
/* parallelogram characters */
.cen{
    max-width: 100%;
    display: flex;
    justify-content: center;
}  

#par_char {
      width: 90%;
      height: 60px;
      transform: skew(20deg);
      background: white;
      position: absolute;
      top: 33em;
  }
  
  #headingchar{
      position: absolute;
      top: 21.5em;
      width: 100%;
      font-size: 25px;
      font-family: 'Kdam Thmor Pro', sans-serif;
      font-weight: bold;
      text-align: center;
    }

/* Cards Css */
#characters_card, #comics_card, #creators_card{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
}

    .custom-card{
    display: flex;
    flex-direction: row;
    margin-left: 12px;
    position: relative;
    width: 200px;
    height: 300px;
    transition: 300ms ease-in-out;
    cursor: pointer;
    border-radius: 0px;
    -webkit-user-drag: none;
    /* -webkit-user-select: none;   */
    text-decoration: none;
    color: inherit;
}
.custom-card:hover .custom-card-content{
    backdrop-filter: blur(2px);
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
    transform: scale(1);
}

.custom-card:hover .custom-card-image{
    backdrop-filter: blur(2px);
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
    transform: scale(1);
    transition: 300ms ease-in-out;
}
.custom-card-content{
    padding: 8px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 300ms ease-in-out;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    transform: scale(.9);
    border-radius: 8px;
}
.custom-card-title{
    text-align: center;
    color:white;
    font-weight: bold;
    font-size: 20px;
}
.custom-card-image{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    transform: scale(.9);
    transition: 300ms ease-in-out;
}   
.custom-card-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    background: none;
    border: none;
    outline:none;
    width: 120px;
    height: 40px;
    cursor: pointer;
    color: white;
    border: 2px solid white;
    transition: transform 300ms ease-in-out;
    text-decoration: none;
}
.custom-card-btn:hover{
    transform: translateY(-3px);
}

/* button Load Css */
#loadMore{
    padding: 15px 40px 15px 40px;
    border: none;
    background-color:rgb(35, 87, 137);
    color:whitesmoke;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}
#loadMore:hover{
    transition: 300ms ease-in-out;
    background-color: rgb(47, 120, 188);
}

/* Logo image Css */
#logosimage{
    margin:0px;
    max-width: 100%;
    max-height: 10%;
}

#logosimage img{
    width: 100%;
    height: 10%;
}

/* footer css */
footer{
    background-color: rgb(77, 77, 77);
    margin: 0;
}
.footerContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footerContent p{
    color: whitesmoke;
    padding: 10px;
    margin-bottom: 0px;
    font-size: 15px;
}
.footerContent p a img{
    width: 15px;
    height: 15px;
    margin-bottom: 2px;
}
.footerContent p a{
    padding: 2px;
    margin-left: 3px;
}
/* laptop large */
@media only screen and (min-width: 1255px) and (max-width: 1440px) {
    
    /* parallelogram characters */
    #par_char {
        width: 90%;
        height: 60px;
        top: 30em;
        }

    #headingchar{
        top: 20em;
        /* font-size: 20px; */
    }
    /* Cards Css */
    .custom-card{
        margin-left: 8px;
        width: 170px;
        height: 250px;
    }
    .custom-card-image{
        width: 170px;
        height: 250px;
}
#loadMore{
    padding: 12px 20px 12px 20px;
    margin-bottom: 28px;
    font-size: 19px;
    border-radius: 10px;
}
}

/* medium large */
@media only screen and (min-width: 1026px) and (max-width: 1250px) {
    .title h1{
        top: 5.5em;
        font-size: 38px;
        letter-spacing: 1px;
        text-shadow: 20px black;
    }  
    .title p{
        top: 18em;
        font-size: 15px;
        letter-spacing: 0.7px;
        line-height: 23px;
    }
    
    /* parallelogram characters */
    #par_char {
        width: 90%;
        height: 50px;
        top: 26.8em;
        }

    #headingchar{
        top: 22em;
        font-size: 20px;
    }
    /* Cards Css */
    .custom-card{
        margin-left: 8px;
        width: 150px;
        height: 220px;
    }
    .custom-card-image{
        width: 150px;
        height: 220px;
}
#loadMore{
    padding: 12px 20px 12px 20px;
    margin-bottom: 25px;
    font-size: 18px;
    border-radius: 10px;
}
}


/* small laptop*/
@media only screen and (max-width: 1024px) {

/* title css */
.title h1{
    top: 6em;
    font-size: 33px;
    letter-spacing: 1px;
    text-shadow: 15px black;
}  
.title p{
    top: 16.5em;
    font-size: 15px ;
    letter-spacing: 0.5px;
    line-height: 13px;
}

/* parallelogram characters */
#par_char {
width: 90%;
height: 45px;
top: 22.5em;
}

#headingchar{
top: 20.5em;
font-size: 18px;
}

/* Cards Css */
.custom-card{
    margin-left: 8px;
    width: 135px;
    height: 220px;
}
.custom-card-image{
    width: 130px;
    height: 220px;
}

#loadMore{
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 10px;
}

}

/* smallest laptop */
@media only screen and (min-width:769px) and (max-width: 915px) {

    /* navbar css */
    nav ul{
        padding: 10px !important;
        font-size: 13px !important;
    }
    nav ul li img{
        width: 90px !important;
        height: 33px !important;
    }
    .navlist{
         padding-left:15px;
    }
    nav ul li input{
        font-size: 12px !important;
        border-radius: 10px !important;
        padding: 4px !important;
    }
    
    nav ul li button{
        padding: 3px;
        border-radius: 10px;
    }

    /* title css */
    .title h1{
        top: 6em;
        font-size: 28px;
        letter-spacing: 1px;
        text-shadow: 15px black;
    }  
    .title p{
        top: 14em;
        font-size: 15px ;
        letter-spacing: 0.5px;
        line-height: 13px;
    }

    /* parallelogram characters */
  #par_char {
    width: 90%;
    height: 45px;
    top: 19.8em;
    }

    #headingchar{
    top: 18em;
    font-size: 18px;
  }

    /* Cards Css */
    .custom-card{
        margin-left: 8px;
        width: 130px;
        height: 190px;
    }
    .custom-card-image{
        width: 130px;
        height: 190px;
    }

    #loadMore{
        padding: 10px 18px 8px 18px;
        margin-bottom: 20px;
        font-size: 15px;
        border-radius: 10px;
    }
    
    /* footer css */
    .footerContent p{
        padding: 8px;
        font-size: 12px;
    }
    .footerContent p a img{
        width: 12px;
        height: 12px;
        margin-bottom: 4px;
    }

} 

/* Tablet */
@media only screen and (min-width:430px) and (max-width: 768px) {

    /* navbar css */
    nav ul{
        padding: 10px !important;
        font-size: 13px !important;
    }
    nav ul li img{
        width: 90px !important;
        height: 33px !important;
    }
    .navlist{
         padding-left:15px;
    }
    nav ul li input{
        font-size: 13px !important;
        border-radius: 10px !important;
        padding: 4px !important;
    }
    
    nav ul li button{
        padding: 3px;
        border-radius: 10px;
    }

    /* title css */
    .title h1{
        top: 6em;
        font-size: 25px;
        letter-spacing: 1px;
        text-shadow: 15px black;
    }  
    .title p{
        top: 13.5em;
        font-size: 14px ;
        letter-spacing: 0.5px;
        line-height: 13px;
    }

    /* parallelogram characters */
  #par_char {
    width: 90%;
    height: 40px;
    top: 17em;
    }

    #headingchar{
    top: 17.8em;
    font-size: 16px;
  }

    /* Cards Css */
    .custom-card{
        margin-left: 8px;
        width: 115px;
        height: 170px;
    }
    .custom-card-image{
        width: 115px;
        height: 170px;
    }

    #loadMore{
        padding: 10px 18px 8px 18px;
        margin-bottom: 20px;
        font-size: 15px;
        border-radius: 10px;
    }
    
    /* footer css */
    .footerContent p{
        padding: 8px;
        font-size: 11px;
    }
    .footerContent p a img{
        width: 12px;
        height: 12px;
        margin-bottom: 4px;
    }


}

/* small Tablet */
@media only screen and (min-width:426px) and (max-width: 640px) {

    /* nav css */
    .toggle{
        display: inline;
        background: none;
        border: none;
        color: red;  
        margin-top: 0px; 
    }

    #searchli{
        margin-right: 30px;
        text-align: right;
        
    }
    nav ul li input{
        font-size: 10px !important;
        border-radius: 6px !important;
        padding:3px 6px 3px 6px !important;
        margin: 0 !important;
        width: 50%;
        border: none;
    }
    nav ul li button{
        padding: 0;
        border-radius: 10px;
        border: none;
        margin-left: 4px;
        background:none;
        color: red;
    }
    .fa-search{
        width: 12px !important;
        height: 14px !important;
        padding: 5px;
        padding-bottom: 2px;
    }
    .navlist{
        display: none;
    }

    nav ul{
        background-color: black;
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: start !important;
        align-items: center !important;
        margin: 0px !important;
        padding: 12px !important;
        font-size: 13px !important;
    }
    
    .logo{
        display: inline;
        width: 90px !important;
        height: 35px !important;
    }
    #searchinput{
        position: absolute;
        float:right;
    }
    

    /* title css */
    .title h1{
        top: 6em;
        font-size: 20px;
        letter-spacing: 1px;
        text-shadow: 15px black;
    }  
    .title p{
        top: 13em;
        font-size: 12px ;
        letter-spacing: 0.5px;
        line-height: 13px;
    }

    /* parallelogram characters */
  #par_char {
    width: 90%;
    height: 40px;
    top: 14.4em;
    }

    #headingchar{
    top: 16em;
    font-size: 15px;
  }

    /* Cards Css */
    .custom-card{
        margin-left: 8px;
        width: 115px;
        height: 170px;
    }
    .custom-card-image{
        width: 115px;
        height: 170px;
    }

    #loadMore{
        padding: 10px 18px 8px 18px;
        margin-bottom: 20px;
        font-size: 15px;
        border-radius: 10px;
    }
    
    /* footer css */
    .footerContent p{
        padding: 8px;
        font-size: 11px;
    }
    .footerContent p a img{
        width: 12px;
        height: 12px;
        margin-bottom: 4px;
    }

}

/* Medium Mobile Css */
@media only screen and (min-width:374px) and (max-width: 426px) {
    
    /* nav css */
    .toggle{
        display: inline;
        background: none;
        border: none;
        color: red;  
        margin-top: 3px; 
    }

    #searchli{
        margin-right: 30px;
        text-align: right;
        
    }
    nav ul li input{
        font-size: 10px !important;
        border-radius: 6px !important;
        padding:2px 5px 2px 5px !important;
        margin: 0 !important;
        width: 50%;
        border: none;
    }
    nav ul li button{
        padding: 2px;
        border-radius: 10px;
        border: none;
        margin: 0;
        background:none;
        color: red;
    }
    .fa-search{
        width: 10px !important;
        height: 12px !important;
        padding: 5px;
        padding-bottom: 2px;
    }
    .navlist{
        display: none;
    }

    nav ul{
        background-color: black;
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: start !important;
        align-items: center !important;
        margin: 0px !important;
        padding: 15px !important;
        font-size: 15px !important;
    }
    
    .logo{
        display: inline;
        width: 80px !important;
        height: 32px !important;
    }
    #searchinput{
        position: absolute;
        float:right;
    }
     
    /* title css */
    .title h1{
        top: 6em;
        font-size: 16px;
        letter-spacing: 1px;
        text-shadow: 15px black;
    }  
    .title p{
        top: 12em;
        font-size: 10px ;
        letter-spacing: 0.5px;
        line-height: 13px;
    }

    /* parallelogram characters */
  #par_char {
    width: 90%;
    height: 30px;
    top: 10.7em;
    }

    #headingchar{
    top: 13em;
    font-size: 14px;
  }

    /* Cards Css */
    .custom-card{
        margin-left: 5px;
        width: 115px;
        height: 180px;
    }
    .custom-card-image{
        width: 115px;
        height: 180px;
    }

    #loadMore{
        padding: 8px 18px 8px 18px;
        margin-bottom: 20px;
        font-size: 14px;
        border-radius: 10px;
    }
    
    /* footer css */
    .footerContent p{
        padding: 5px;
        font-size: 10px;
    }
    .footerContent p a img{
        width: 10px;
        height: 10px;
        margin-bottom: 2px;
    }

}

/*  small Mobile Css */
@media only screen and (max-width:374px){
    
    /* nav css */
    .toggle{
        display: inline;
        background: none;
        border: none;
        color: red;  
        margin-top: 3px; 
    }

    #searchli{
        margin-right: 30px;
        text-align: right;
        
    }
    nav ul li input{
        font-size: 10px !important;
        border-radius: 6px !important;
        padding:2px 5px 2px 5px !important;
        margin: 0 !important;
        width: 50%;
        border: none;
    }
    nav ul li button{
        padding: 2px;
        border-radius: 10px;
        border: none;
        margin: 0;
        background:none;
        color: red;
    }
    .fa-search{
        width: 10px !important;
        height: 12px !important;
        padding: 5px;
        padding-bottom: 2px;
    }
    .navlist{
        display: none;
    }

    nav ul{
        background-color: black;
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: start !important;
        align-items: center !important;
        margin: 0px !important;
        padding: 15px !important;
        font-size: 15px !important;
    }
    
    .logo{
        display: inline;
        width: 80px !important;
        height: 32px !important;
    }
    #searchinput{
        position: absolute;
        float:right;
    }
     
    /* title css */
    .title h1{
        top: 6em;
        font-size: 15px;
        letter-spacing: 1px;
        text-shadow: 15px black;
    }  
    .title p{
        top: 13em;
        font-size: 8.5px ;
        letter-spacing: 0.5px;
        line-height: 13px;
    }

    /* parallelogram characters */
  #par_char {
    width: 90%;
    height: 30px;
    top: 9.8em;
    }

    #headingchar{
    top: 12.5em;
    font-size: 13px;
  }

    /* Cards Css */
    .custom-card{
        margin-left: 5px;
        width: 100px;
        height: 150px;
    }
    .custom-card-image{
        width: 100px;
        height: 150px;
    }

    #loadMore{
        padding: 8px 18px 8px 18px;
        margin-bottom: 20px;
        font-size: 13px;
        border-radius: 10px;
    }
    
    /* footer css */
    .footerContent p{
        padding: 5px;
        font-size: 10px;
    }
    .footerContent p a img{
        width: 10px;
        height: 10px;
        margin-bottom: 2px;
    }

}